process {
    executor = 'local'
    withLabel:process_low {
        cpus   = 2
        memory = 16.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 8
        memory = 8.GB
        time   = 8.h
    }
    withName: PLINK2_SCORE {
        maxForks = 4
        memory = 16.GB
    }
    withName: 'PLINK2_RELABELPVAR' {
        cpus = 1
        memory = 64.GB
    }

    withName: 'INTERSECT_VARIANTS' {
        cpus = 1
        memory = 64.GB
    }

    withName: 'INTERSECT_THINNED' {
        cpus = 1
        memory = 64.GB
    }

    withName: 'MATCH_VARIANTS' {
        cpus = 2
        memory = 32.GB
    }

    withName: 'FILTER_VARIANTS' {
        cpus = 1
        memory = 64.GB
    }

    withName: 'MATCH_COMBINE' {
        cpus = 2
        memory = 32.GB
    }
}
